<% include partials/header %>
<div class="container">
  <div class="upload">
    <form action="/upload" method="POST">
      <h3 style="margin-bottom: 5px;">
        <label for="username">Username:</label>
      </h3>
      <input
        class="username"
        type="text"
        name="username"
        placeholder="Enter your username"
        id="username"
        required
      />
      <input name="imageUrl" type="text" style="display: none" id="data" />
      <input
        name="index"
        type="text"
        style="display: none"
        value="0"
        id="index"
      />
      <% if (!user) { %>
      <button class="submit">Upload Images</button>
      <% } else { %>
      <button class="submit" disabled="<%= user.index == 0 ? true : false %>">
        Upload Images (<%= 10 - user.index %>)
      </button>
      <% }%>
    </form>
  </div>
  <div style="padding: 0 300px">
    <div class="video">
      <video id="vid"></video>
    </div>
    <div class="check">
      <form action="/check" method="POST">
        <button>Check</button>
      </form>
    </div>
  </div>
</div>
<script>
  let q = "<%= user ? user.username : '' %>";
  document.querySelector("#username").value = q;
  const vid = document.querySelector("video");
  navigator.mediaDevices
    .getUserMedia({ video: true }) // request cam
    .then(stream => {
      vid.srcObject = stream; // don't use createObjectURL(MediaStream)
      return vid.play(); // returns a Promise
    })
    .then(() => {
      // enable the button
      const btn = document.querySelector("button");
      btn.disabled = false;
      btn.onclick = e => {
        takeASnap();
      };
    })
    .catch(e => console.log("please use the fiddle instead"));

  function takeASnap() {
    const canvas = document.createElement("canvas"); // create a canvas
    const ctx = canvas.getContext("2d"); // get its context
    canvas.width = vid.videoWidth; // set its size to the one of the video
    canvas.height = vid.videoHeight;
    ctx.drawImage(vid, 0, 0); // the video
    document.querySelector("#index").value =
      parseInt(document.querySelector("#index").value) + 1;
    document.querySelector("#data").value = canvas.toDataURL();
  }
</script>
<% include partials/footer %>
